# Build artifacts
target/
!.mvn/wrapper/maven-wrapper.jar
**/dist/
**/dist-pro/
**/dist-dev/
**/dist-test/
**/node_modules/
**/pnpm-lock.yaml

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Docker
mysql_data/
redis_data/
